.div1 {
    background-color: lawngreen;
    height: 150px;
}
.div2 {
    background-color: mediumorchid;
    height: 150px;
    width: 200px;
}
.div3 {
    background-color: maroon;
    height: 150px;
    width: 50%;
}
.div4{
    background-color: mediumaquamarine;
    height: 100px;
    width: 50%;
}